In [7]:
import pandas as pd #Importando Biblioteca Pandas, que tem sintaxes simples e úteis

In [8]:
tabelasislame = pd.read_excel("ALUNOS_DADOS_CADASTRAIS.xlsx") #Aqui, criei uma variável para receber a leitura do Xls do Pandas

In [9]:
tabelasislame.head(3) #Aqui apresenta as 5 primeiras linhas da tabela

,REGIONAL,MUNICÍPIO,ESCOLA,CENSO,REDE,NOME,CD INEP,NASCIMENTO,NATURALIDADE,PAÍS DE ORIGEM,...,DATA MATRÍCULA,SITUAÇÃO MATRÍCULA,EXCLUSIVO AEE,DATA ENCERRAMENTO,ANO REFERENCIA,TIPO FORNECEDOR ENERGIA,NOME ENERGIA FORNECEDOR,COD IDENTIFICACAO,Unnamed: 52,CAMPO IDENTIFICACAO
0,SRE MURIAE,PREFEITURA MUNICIPAL DE MURIAÉ,EM GILBERTO JOSÉ TANUS BRAZ,31098779,MUNICIPAL,NICOLAS DA SILVA VARGAS PAMPOLINI,1.231314e+11,02/05/2008,Muriaé,NaN,...,26/12/2022,ATIVA,NÃO,NaN,2023,OPERADORA,ENERGISA,17306194,NaN,CDC - Código do consumidor
1,SRE MURIAE,PREFEITURA MUNICIPAL DE MURIAÉ,EM GILBERTO JOSÉ TANUS BRAZ,31098779,MUNICIPAL,YASMIM KETHELLY DA SILVA PEDROSA,1.239934e+11,09/02/2012,Muriaé,NaN,...,13/12/2022,ATIVA,NÃO,NaN,2023,OPERADORA,ENERGISA,111114725,NaN,CDC - Código do consumidor
2,SRE MURIAE,PREFEITURA MUNICIPAL DE MURIAÉ,EM CLÉRIA TICON CARNEIRO,31098761,MUNICIPAL,RAFAEL SILVA FIGUEIREDO,1.233548e+11,14/06/2007,Muriaé,NaN,...,18/11/2022,ATIVA,NÃO,NaN,2023,OPERADORA,ENERGISA,112125928,NaN,CDC - Código do consumidor

In [10]:
excluirdados = tabelasislame[ tabelasislame['ETAPA'] == 'AEE/AC' ].index #A variável excluirdados recebe a tabela do sislame, seleciona a coluna ETAPA e exclui o dado mencionado.
tabelasislame.drop(excluirdados , inplace=True)

In [11]:
excluirdados = tabelasislame[ tabelasislame['ETAPA'] == 'MATERNAL' ].index
tabelasislame.drop(excluirdados , inplace=True)

In [12]:
excluirdados = tabelasislame[ tabelasislame['ETAPA'] == '1º Período' ].index
tabelasislame.drop(excluirdados , inplace=True)

In [13]:
excluirdados = tabelasislame[ tabelasislame['ETAPA'] == '2º Período' ].index
tabelasislame.drop(excluirdados , inplace=True)

In [14]:
excluirdados = tabelasislame[ tabelasislame['ETAPA'] == 'BERÇÁRIO I' ].index
tabelasislame.drop(excluirdados , inplace=True)

In [15]:
excluirdados = tabelasislame[ tabelasislame['ETAPA'] == 'BERÇÁRIO II' ].index
tabelasislame.drop(excluirdados , inplace=True)

In [16]:
excluirdados = tabelasislame[ tabelasislame['ETAPA'] == '3° PERÍODO - AI' ].index
tabelasislame.drop(excluirdados , inplace=True)

In [17]:
excluirdados = tabelasislame[ tabelasislame['ETAPA'] == '3° PERÍODO' ].index
tabelasislame.drop(excluirdados , inplace=True)

In [18]:
tabelaformatada = tabelasislame[["ESCOLA","NOME","ETAPA","TURMA"]] #Criamos uma nova variável que recebe as mudanças
tabelaformatada.head(5)

,ESCOLA,NOME,ETAPA,TURMA
0,EM GILBERTO JOSÉ TANUS BRAZ,NICOLAS DA SILVA VARGAS PAMPOLINI,9º Ano,CT-EF 9º ANO H 2023
1,EM GILBERTO JOSÉ TANUS BRAZ,YASMIM KETHELLY DA SILVA PEDROSA,6º Ano,CT-EF 6º ANO F 2023
2,EM CLÉRIA TICON CARNEIRO,RAFAEL SILVA FIGUEIREDO,9º Ano,CT-EF 9º ANO A - 2023
3,EM CLÉRIA TICON CARNEIRO,WESLEY MAIK DOS SANTOS NASCIMENTO,9º Ano,CT-EF 9º ANO A - 2023
4,EM GILBERTO JOSÉ TANUS BRAZ,GUSTAVO RICARDO PINTO DE REZENDE,6º Ano,CT-EF 6º ANO G 2023

In [19]:
tabelaformatada.to_excel("ALUNO_POR_TURMA.xlsx",index=False) #Aqui ele exporta essa planilha limpa "tabelaformatada" dentro da F(x) eu escolhi o nome da planilha que foi exportada